<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>
<html>
    <body>
        <div class="leaderboards-container">
        <h1>Top 10 Leaderboards</h1>
        <table>
            <tr>
                <th>Rank</th>
                <th>Correct Answers</th>
                <th>Total Questions</th>
                <th>Date</th>
            </tr>
            <% leaderboards.forEach((entry, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= entry.correctAnswers %></td>
                    <td><%= entry.totalQuestions %></td>
                    <td><%= entry.date %></td>
                </tr>
            <% }) %>
        </table>

        <!-- Option to return to home -->
        <a href="/" class="btn">Return to Home</a>
    </div>
    </body>
</html>